@import "bootstrap";
@import "variables-site";
@import "reset-bootstrap";

body {
	background-color: $body-bg;
	font-size: $text-color;
	font-family: $font-family-sans-serif;
	font-size: $font-size-base;
}

// Estilos que comunes en el site

.section-title {
	font-size: 3rem;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #333;
	span {
		font-weight: 300;
	}
}

.section-subtitle {
	text-align: center;
	font-size: 2rem;
	color: $gray-light;
	margin-bottom: 50px;
}

p {
	color: $gray-light;
	font-size: 1.6rem;
}

// Header Top

.header-top {
	background-color: $color-one;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	a {color: white;}

	&-left {
		@include make-md-column(6);
		a {margin-right: 2em;}
			i{margin-right: 1em;}
	}

	&-right {
		@include make-md-column(6);
		text-align: right;

		&-login {
			span {
				margin-right: 1em;
				margin-left: 1em;
				color: white;
			}
		}

	}

}

// Header Bottom
.header-bottom {
	background-color: $body-bg;
}

//banner
.banner {
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	&-title {
		font-size: 5rem;
		text-align: center;
		color: white;
		font-weight: 600;
		margin-bottom: 1em;
		span {
			color: $color-two;
			font-weight: 300;
		}
	}

}

// Travel Boton
.travel-button {
	width: 100%;
	background-color: rgba(0,0,0,.5);
	color: white;
	padding: 2em;
	i {
		margin-right: 0.5em;
	}
	
	.form-inline {
		margin-top: 2em;
	}
}

// Work
.work {
	padding-top: 5em;
	padding-bottom: 5em;

	&-item {
		@include make-md-column(4);
		text-align: center;

		&-icon {
			@include size(80px, 80px);
			color: white;
	    border-radius: 50%;
	    background-color: #ff3860;
	    margin: auto;
	    position: relative;
			padding-top: 1.7em;
			i {
				font-size: 3rem;
			}
		}

		&-title {
			font-weight: 600;
		}

	}
}

// Paquetes
.packages {
	&-item {
		@include make-md-column(6);
		padding-left: 0;
		padding-right: 0;
		&-inner {
			@include make-md-column(6);
			padding-left: 0;
			padding-right: 0;
		}
	}

	&-description {
		text-align: center;
		padding: 2em;
		position: relative;
		border-top: 1px solid $gray-lighter;
		border-bottom: 1px solid $gray-lighter;
		// Arrows-left
		&.arrow-left {
			&:before {
				border-bottom: 15px solid transparent;
				border-left: 15px solid #fff;
				border-top: 15px solid transparent;
				content: "";
				height: 0;
				position: absolute;
				left: -13px;
				top: 43%;
				width: 0;
				z-index: 2;
				transform: rotate(180deg);
			}
		}
		// Arrows-right
		&.arrow-right {
			&:before {
				border-bottom: 15px solid transparent;
				border-left: 15px solid #fff;
				border-top: 15px solid transparent;
				content: "";
				height: 0;
				position: absolute;
				right: -13px;
				top: 43%;
				width: 0;
				z-index: 2;
			}
		}

		h3 {
			font-size: 2rem;
			margin-top: 0;
			margin-bottom: 0.5em;
		}

		h4 {
			color: $color-two;
    	margin-bottom: 1em;
		}
	}
	// Imagenes descripcion
	&-description-image {
		width: 100%;
		&:hover {
			.packages-description-image-overlay {
				transform: scale(1);
			}
		}
		//Overlay hover
		&-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 209, 178, 0.41);
			transform: scale(0);
			transition: all .2s;
			a {
		    display: block;
		    position: absolute;
		    width: 100%;
		    top: 50%;
		    color: white;
		    text-align: center;
				i {
					font-size: 2.2rem;
				}
			}
		}
	}
	// Imagen Grande de los Paquetes
	.packages-image {
		position: relative;
		&:hover {
			.packages-image-overlay {
				transform: scale(1);
			}
		}
		//Overlay
		&-overlay {
			background-color: rgba(0, 209, 178, 0.41);
	    position: absolute;
	    top: 0;
	    right: 0;
	    z-index: 2;
	    width: 100%;
	    height: 100%;
	    transform: scale(0);
	    transition: all .2s;
			display: flex;
			justify-content: center;
			// Detalles del hover en la imagen grande
			.details {
				position: absolute;
		    top: 35%;
		    border: 2px solid white;
		    z-index: 3;
		    width: 300px;
		    padding: 10px;
		    transform: scale(1);
		    color: white;
		    text-align: center;
				h3 {
					font-size: 2rem;
					margin-top: 0;
					margin-bottom: 0.5em;
				}
				h4 {
					color: $color-two;
					margin-bottom: 1em;
				}
				p {
					color: white;
				}
			}
		}
	}
}

// Ofertas
.oferts {
	padding-top: 5em;
	padding-bottom: 5em;
	clear: both;

	&-item {
		@include make-md-column(3);
		text-align: center;

		&-image {
			position: relative;
			overflow: hidden;
			display: flex;
			justify-content: center;
			span {
				background-color: rgba(0, 209, 178, 0.58);
				position: absolute;
				top: 10px;
				right: -40px;
				padding: 10px;
				width: 138px;
				font-size: 13px;
				color: white;
				transform: rotate(45deg);
				text-align: center;
			}
			.oferts-item-description {
				position: absolute;
		    top: 35%;
		    color: white;
		    display: inline-block;
		    background-color: rgba(255, 56, 96, 0.76);
				padding: 2em;
				h3, p {
					display: inline-block;
					margin: 0;
					font-size: 1.2em;
					color: white;
					margin: 0 1em;
				}
			}
		}

		&-button {
			margin: 3em auto;
		  width: 80px;
		}
	}
}

// Post
.post {
	padding-top: 5em;
	padding-bottom: 5em;
	clear: both;
	&-item {
		@include make-md-column(4);
	}

	.post-card {
		background-color: white;
		box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
		color: #4a4a4a;
		max-width: 100%;
		position: relative;

		// Card Imagen
		&-image {
			display: block;
			position: relative;
			&-inner {
				position: relative;
				h4 {
					background-color: $color-two;
			    position: absolute;
			    top: 10px;
			    left: 0;
					font-size: 1em;
			    border-radius: 0 0 10px;
			    text-align: center;
			    color: white;
			    padding: 0.5em;
			    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
				}
				span {
					background-color: rgba(0, 0, 0, 0.4);
			    position: absolute;
			    bottom: 0;
			    right: 0;
			    width: 70px;
			    display: flex;
			    justify-content: space-between;
			    color: white;
			    padding: 0.5em;
				}
			}
		}

		// Card Contenido
		&-content {
			padding: 2.5rem;

			h5 {
				font-size: 2.5rem;
			}

			h6 {
				font-size: 1.5rem;
			}

			span {
				color: $color-one;
			}
		}

		// Footer Card
		&-footer {
				border-top: 1px solid #ccc;
				padding: 0;
				display: flex;
				justify-content: space-between;
				ul {
					 padding-left: 2em;
					 margin: 0;
					 li {
							display: inline-block;
							font-size: 1.5rem;
							color: $gray-light;
							padding-top: 10px;
							margin-right: 1.2em;
						i {
							 margin-right: 1em;
						}
						 i.fa-heart:hover {
							 color: $color-two;
						 }
					 }
				}

				a {
					height: 40px;
			    display: block;
			    background-color: $color-one;
			    width: 140px;
			    color: white;
			    padding: 8px 19px;
			    text-transform: uppercase;
			    text-align: center;
			    position: relative;
					font-size: 1.2rem;
			    padding-top: 13px;
					&:before {
						position: absolute;
						top: 0;
						left: 0;
						content: "";
						width: 10px;
						height: 10px;
						border-top: 20px solid transparent;
						border-left: 20px solid white;
						border-bottom: 20px solid transparent;
					}
				}
			}
		}
}

// Newsletter
.newsletter {
	border-top: 1px solid #ccc;
	padding-top: 5em;
	padding-bottom: 5em;

	&-item {
		@include make-md-column(6);
	}

	&-form {
		 display: flex;
		 &-input {
			width: 60%;
			background: #e6e6e6;
			border-radius: 0;
			height: 40px;
			border: none;
			outline: none;
			color: #828282;
			padding: 20px;
		 }

		 &-button {
			 width: 40%;
	     background-color: $color-two;
	     border: 0;
	     color: white;
	     font-weight: 600;
	     font-size: 1.5rem;
	     outline: none;
	     display: flex;
	     justify-content: center;
			 align-items: center;
	     cursor: pointer;
			 i {
				 	margin-right: 10px;
					font-size: 1.5rem;
			 }
		 }
	}

	&-redes {
		display: flex;
    justify-content: flex-end;
		a {
			background-color: $color-two;
	    width: 40px;
	    height: 40px;
	    color: white;
	    margin: 0 10px;
	    border-radius: 50%;
	    text-align: center;
	    padding-top: 10px;
			&:hover {
				background-color: $color-one;
			}
		}
	}
}

//ScrollTop
.scrolltop {
	position: fixed;
	bottom: 8px;
	right: 20px;
	height: 40px;
	width: 40px;
	color: white;
	background-color: rgba(255, 56, 96, 0.4);
	background-clip: padding-box;
	text-align: center;
	cursor: pointer;
	transition: all .5s ease-out;
	z-index: 999;
	padding-top: 7px;
	&:hover {
		background-color: $color-two;
	}
	i {
		font-size: 24px;
		margin-right: 0;
	}
}

// Footer
.footer {
	font-size: 1.5rem;
	background-color: #777;
	padding-top: 5em;
	&-item {
		@include make-md-column(4);
	}
	// Footer Logo
	&-contacto-logo {
		margin-bottom: 20px;
	}
	// Footer Info Telefono, Email
	&-contacto-info {
		padding-left: 0;
		li {
			margin: 10px 0;
			display: flex;
			align-items: center;
			color: white;
			i {
				margin-right: 10px;
    		font-size: 1em;
			}
		}
	}
	// Redes
	&-contacto-redes {
		display: flex;
		a {
			background-color: $color-one;
			color: white;
			width: 35px;
			height: 35px;
			border-radius: 40px;
			padding-top: 7px;
			margin-right: 10px;
			margin-top: 10px;
			display: block;
			text-align: center;
			transition: all .2s;
		}
	}
	//Mapa del sitio
	&-menu {
		color: white;
		h4 {
			margin-bottom: 2em;
		}
		li {
			margin-bottom: 10px;
			padding-left: 15px;
			a {
				display: flex;
				align-items: center;
				border-bottom: 1px solid rgba(181, 181, 181, 0.37);
				width: 200px;
				padding-bottom: 5px;
				&:hover {
					color: $color-one;
				}
				i {
					margin-right: 1em;
				}
			}
		}
	}
	//Galerry
	&-gallery {
		display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
		color: white;
		h4 {
			margin-bottom: 2em;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			li {
					margin-bottom: 1em;
				a {
						width: 100px;
						height: 100px;
						display: block;
						opacity: 0.7;
						transition: all .2s;
						color: white;
						&:hover {
							opacity: 1;
						}
					}
				}
			}
		}

	&-copy {
		padding: 20px 0;
		p {
			margin: 0;
			color: white;
		}
	}
}
